<!-- Es el index que mostramos como pagina principal de nuestra sistema solo tiene un navbar y renderea el templete images/index
     en el cual esta construido el sistema -->
<div class="navbar-inner">
  <center><h1><font color="#708090">Imagina</font></h1></center>
</div>
<br>
<%= render :template => 'images/index' %>
