<!-- Columna vertebral de nuestro sistema en el cual se muestra el carousel, renderiamos el formulario de imagenes y comentarios
     y listamos los comentarios-->
<div><%= render :partial => 'images/form' %></div><!-- Rendereamos nuestro formulario para la creacion de imagenes -->
<div class="row-fluid">
  <div class="span8 columns">
    <!-- Carousel de imagenes y le ponemos un id el cual ocupamos en el archivo application.js para escuchar el evento click de las
         imagenes y con esto mostrar sus comentarios para cada una de ellas-->
    <div id="myCarousel" class="carousel">
      <div class="carousel-inner">
        <% i = 0 %>
        <% @images.each do |image| %>
            <% if i == 0 %>
                <div class="active item">
                  <% i=1 %>
            <% else %>
                <div class="item">
            <% end %>
            <center>
              <%= image_tag image.picture_url, :id => image.id %>
              <a class="carousel-control left">&lsaquo;</a>
              <a class="carousel-control right">&rsaquo;</a></center>
            </div>
        <% end %>

        </div>
      </div>
    </div>

  <br/>
  <!-- Listamos los comentarios y rendereamos el form.
       Asignamos un id al div el cual utilizaremos para actualizar los
       comentarios en el caso de agregar o eliminar algunos de estos-->
  <div class="span3">
    <div id="comments"><%= render :template => 'comments/index' %></div>
    <div><%= render :partial => 'comments/form' %></div>
  </div>

